.homeNameHolder {
    background-color: rgba(0,0,0,0.45);
    position: absolute;
    top: 35%;
    right: 0;
    width: 65%;
    color: white;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;

}

.nameAdressHolder {
    border-right: 2px solid white;
}
.homeName {
    text-align: right;
    font-size: calc(10px + 5vmin);
    padding-right: 50px;
    font-weight: 700;

}

.homeAdress {
    text-align: right;
    font-size: calc(10px + 2vmin);
    font-weight: 400;
    padding-right: 50px;
}

.hoursHolder {
}

.hoursTitle {
    font-size: calc(10px + 3vmin);
    font-weight: 700;
}

.hoursP {
    font-size: calc(10px + 1vmin);
}