.menuHolder {
    background-color: rgba(0,0,0,0.85);
    position: absolute;
    top: 25%;
    right: 0;
    width: 100%;
    color: white;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;

}

.menuSelectHolder {
    border-right: 1px solid white;
}

.menuSelectItem {
    background-color: transparent;
    color: white;

}

.menuSelectItem.active {
    background-color: aqua !important; 
}
.menuItemCard {
    background-color: transparent;
    height: 9rem;
    border: 1px green solid;
}
.menuItemImg {
    width: 25%;
    float: left;
    height: -webkit-fill-available;
}
.menuItemText {
    display: inline;
    padding: 0;
}

.menuItemTitle {
    font-size: calc(10px + 1vmin);
    font-weight: bold;
}

.menuItemInfo {
    font-size: calc(5px + 1vmin);

}
